.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    
    display: grid;
    grid-templates-colums: repeat(4, 25%);
    grid-templates-rows: 48px 48px 48px 48px 48px;
}

